@font-face {
  font-family: "Seven-Segment";
  src: url("Seven-Segment.ttf");
}


body {
  height: 100vh;
  background-image: url("basketball.jpg");
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: verdana, sans-serif;
}

p {
  color: #f2f4ff;
  font-weight: bold;
  margin: 0;
}

.main {
  max-width: 600px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  padding: 20px 50px 30px 50px;
  border: 10px solid #2d2d2d;
  border-radius: 20px;
}

.point-btn-container {
  display: flex;
  padding: 5px;
}

.point-btn {
  background-color: #2d2d2d;
  color: yellow;
  width: 40px;
  text-align: center;
  padding: 5px;
  font-size: 1.5rem;
  margin: 0 5px;
  cursor: pointer;
  font-family: "Seven-Segment", sans-serif;
  font-weight: 600;
  border-radius: 5px;
}

.point-btn:hover{
  color: red;
}

.home,.guest{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
  font-size: 1.8rem;
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: #2d2d2d;
  color: red;
  margin: 10px 0 20px;
  font-size: 4rem;
  font-family: "Seven-Segment", sans-serif;
  font-weight: 1000;
  border-radius: 5px;
}

.point:hover {
  color: yellow;
}
